@tailwind base;
@tailwind components;
@tailwind utilities;

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
aside,
main {
  transition: all 200ms ease;
}

.MuiChartsLegend-mark {
  rx: 5;
}
body {
  background: hsl(var(--twc-dash-back));
}
.MuiChartsTooltip-paper {
  background-color: hsl(var(--twc-dash-back)) !important;
  padding: 4px !important;
  border-radius: 4px !important;
}
.MuiChartsTooltip-table td {
  color: hsl(var(--twc-text)) !important;
}
.MuiChartsTooltip-table td p {
  font-family: "Rubik", "Rubik Fallback" !important;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: theme("colors.slate.200");
}
::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: theme("colors.slate.500");
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  width: 4px;
  background-color: theme("colors.slate.700");
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
